services:
  - type: web
    name: estatupidas-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app.bot:app
    plan: free
    region: oregon
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: RENDER_EXTERNAL_URL
        fromService:
          name: estatupidas-bot
          type: web
          property: url
